@switch (category) {
    @case ("Orange") {
       <span class="badge" style="background-color: orange; padding: 10px 10px 10px 10px"><i class="fa-solid fa-square" style="color: orange;"></i></span> 
    }
    @case ("Yellow") {
        <span class="badge" style="background-color: yellow; padding: 10px 10px 10px 10px"><i class="fa-solid fa-square" style="color: orange;"></i></span> 
    }
    @case ("Blue") {
        <span class="badge" style="background-color: blue; padding: 10px 10px 10px 10px"><i class="fa-solid fa-square" style="color: orange;"></i></span> 
    }
}